body{
    background-color: #efe6f7 ;
    font-family: 'Fredoka';
    color: #6c5299;
}
header{
    background-image: url('header2.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 40px 10px;
}
header h1{
    font-size: 70px;
    font-family: 'Rouge Script';
    margin-bottom: -10px;
    color: #6c5299;
}
header p{
    font-family: 'Fredoka';
    color: #9188a1;
}
marquee {
    background-color: #85689e;
    padding: 5px;
    font-weight: bold;
    color: white;
    font-family: 'Fredoka';
}
nav{
    background-color: #bf95e4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
nav a, nav .link{
    color: #6c5299;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
nav a:hover, nav a:active{
    background-color: #efe6f7;
    transition: 0.3s;
    border-radius: 16px;
    cursor: pointer;
}
.link{
    background-color: #bf95e4;
    border: none;
    text-decoration: none;
    color: #6c5299;
    font-size: inherit;
    cursor: pointer;
    font-family: 'Fredoka';
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}
.link a, .link a:active{
    color: #6c5299;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 600;
}
.dropdown.active > .link,
.link:hover{
    background-color: #efe6f7;
    transition: 0.3s;
    border-radius: 16px;
    cursor: pointer;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 100%;
    top: calc(100% + .25rem);
    background-color: #bf95e4;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.btn-ghost{
    padding:10px 14px;
    border-radius:10px;
    background:transparent;
    color:#6c5299;
    cursor:pointer;
    font-family: 'Fredoka';
    font-weight: 600;
    font-size: inherit;
    border: 0;
}
.intro-section{
    text-align: center;
    padding: 4rem 2rem;
    background-color: #efe6f7;
}
.intro-section h2{
    font-family: 'Rouge Script';
    font-size: 2.5rem;
    color: #6c5299;
    margin-bottom: 1rem;
}
.intro-section p{
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #85689e;
}
.cta-section{
    text-align: center;
    background-color: #efe6f7;
    color: #6c5299;
    padding: 3rem 2rem;
    border-radius: 0;
    margin: 2rem auto;
    max-width: 800px;
    border-top: 2px solid #d1b3ec;
    border-bottom: 2px solid #d1b3ec;
    padding-bottom: 100px;
}
.cta-section h2{
    font-family: 'Rouge Script';
    font-size: 2.2rem;
    color: #6c5299;
    margin-bottom: 1rem;
}
.cta-section p{
    font-family: 'Fredoka';
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #85689e;
}
.cta-button{
    background-color: #6c5299;
    color: #efe6f7;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.cta-button:hover{
    background-color: #bf95e4;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
}
.artist-section{
  text-align: center;
  background-color: #efe6f7; 
}
.artist-section h2{
  font-family: 'Rouge Script';
  font-size: 2.8rem;
  color: #6c5299;
  margin-bottom: 2rem;
}
.card{
    background-color: #efe6f7;
    border: 1.5px solid #efe6f7;
    border-radius: 16px;
    box-shadow: 0 4px 10px #2a2a2a;
    padding: 2rem;
    max-width: 900px;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.ava{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #bf95e4;
}
.info{
    flex: 1;
}
.name{
    font-family: 'Rouge Script';
    font-size: 2.8rem;
    color: #6c5299;
    margin: 0 0 0.5rem 0;
    text-align: center;
}
.desc{
    color: #2a2a2a;
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: left;
}
.descp{
    text-align: left;
}
.status{
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.btn{
    background-color: #6c5299;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #bf95e4;
}
.socials{
    display: flex;
    gap: 0.8rem;
    font-size: 1.4rem;
}
.socials a{
    color: #2a2a2a;
    border: 1x solid #2a2a2a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.socials a:hover{
    color: white;
    background-color: #6c5299;
    border-color: #6c5299;
}
footer{
    text-align: center;
    padding: 1.5rem;
    color: #6c5299;
    font-size: 0.9rem;
    font-weight: lighter;

}
